.hus-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.hus-logo {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 600;
}

.hus-navbar-item{
    margin-left:2.1rem;
    color: var(--text-color);
    font-size:1.1rem;
    font-weight: 500;
    transition: .7s;
}

.hus-navbar-item:hover,
.hus-navbar-item.active{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.hus-navbar-menu-icon{
    font-size : 3.2rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #6edcfbaa);
}

.hus-neon{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #6edcfbaa, 0 0 30px #6edcfbaa, 0 0 40px #6edcfbaa, 0 0 55px #6edcfbaa, 0 0 75px #6edcfbaa;
}

.hus-navbar-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}