.hus-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.hus-logo {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 600;
}

.hus-navbar-item{
    margin-left:2.1rem;
    color: var(--text-color);
    font-size:1.1rem;
    font-weight: 500;
    transition: .7s;
}

.hus-navbar-item:hover,
.hus-navbar-item.active{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.hus-navbar-menu-icon{
    font-size : 3.2rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 3em #6edcfbaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}