.hus-btn{
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.hus-btn:hover{
    color: var(--main-color);
    cursor: pointer;
}

.hus-btn.hus-outlined-btn{
    background: transparent;
    color: var(--main-color);
}

.hus-btn.hus-outlined-btn:hover{
    color: var(--bg-color);
}

.hus-btn.hus-outlined-btn::before{
    background: var(--main-color);
}

.hus-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.hus-btn:hover::before{
    width: 100%;
}