@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root{
  --bg-color: #081d2c;
  --second-bg-color: #30336b;
  --text-color: #e0e2eb;
  --main-color: #17d5f7;

   /* TODO-HUS öğrenelim bunlar ne yapıyor. 
   font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

html{
  /* font-size : 62.5; */
  overflow-x: hidden;
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.hus-navbar-menu-icon{
  display: none;
}



@media (max-width:991px) {
  .header{
    padding: 2rem 4%;
  }
  
  section{
    padding: 10rem 4% 2rem;
  }
}

@media (max-width: 768px){
  .header{
    background-color: var(--bg-color);
  }

  .hus-navbar-menu-icon{
    display: block;
  }

  .hus-navbar-right{
    display:none;
  }
}



















/* TODO-HUS buton configürasyonu taşınacak */
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */