.hus-container{
    display:flex;
}

.hus-left-content{
    flex:70%;
    padding: 10px;
}

.hus-right-content{
    flex:30%;
    padding: 10px;
}

.hus-hello{
    display: flex;
    align-items: center;
}

.hus-hello-content h1{
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 1.3;
}

.hus-hello-content .text-animate{
    position: relative;
    width: 28rem; 
}

.hus-hello-content .text-animate h3{
    font-size : 2.6rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.hus-hello-content .text-animate h3::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    border-right:2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.hus-hello-content .text-animate2{
    position: relative;
}

.hus-hello-content .text-animate2 h3{
    font-size : 2.6rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.hus-hello-content p{
    font-size : 1.3rem;
    margin:2rem 0 4rem;
}

.hus-btn-box{
    position:relative;
    display: flex;
    justify-content: space-around;
    width: 34.5rem;
    height:4rem;
}

.hus-social-media{
    position : absolute;
    bottom: 4rem;
    /* TODO-HUS yukarıyı beğenmedim */
    display: flex;
    justify-content: space-between;
}

.hus-social-media a{
    position : relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background : transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-right:1rem;
}

.hus-social-media a:hover{
    color: var(--bg-color);
}

.hus-social-media a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.hus-social-media a:hover::before{
    width: 100%;
}


@keyframes homeBgText{
    0%, 10%, 100%{
        background-position: -28rem 0;
    } 

    65%, 85%{
        background-position: 0 0;
    } 
}

@keyframes homeCursorText{
    0%, 10%, 100%{
        width: 0;
    } 

    65%, 78%, 85%{
        width: 100%;
        opacity: 1;
    } 

    75%, 81%{
        opacity: 0;
    }
}